---
import IconButton from './IconButton.astro'

const { title, id } = Astro.props
---
<article id = `purpose-${id}` class="bg-secondary rounded-md p-4 basis-full">
  <div class = "flex items-center justify-between">
    <input 
      id = `purpose-input-${id}`
      value = { title }
      disabled = "true"
      class = "text-xl text-gray-400 outline-none border border-transparent rounded-md"
    />

    <div class = "flex items-center gap-2">
      <IconButton iconName = "lucide--edit-3" id = `purpose-edit-${id}`/>
      <IconButton iconName = "lucide--trash-2" id = `purpose-remove-${id}`/>
    </div>
  </div>

  <p class = "text-2xl font-bold">$4000</p>
</article>

<script define:vars = {{ id }}>
const btnEdit = document.querySelector(`button#icon-button-purpose-edit-${id}`)
const btnRemove = document.querySelector(`button#icon-button-purpose-remove-${id}`)
const input = document.querySelector(`input#purpose-input-${id}`)

if (btnEdit)
  btnEdit.addEventListener("click", () => {
    if(!input) return

    if(input.getAttribute("disabled")) { // Edit action
      input.classList.remove("border-transparent")
      input.classList.add("border-gray-300")
      input.removeAttribute("disabled")

      btnEdit.querySelector("span").classList.remove("lucide--edit-3")
      btnEdit.querySelector("span").classList.add("lucide--save")
    }
    else { // Save action
      input.setAttribute("disabled", "true")
      input.classList.remove("border-gray-300")
      input.classList.add("border-transparent")

      btnEdit.querySelector("span").classList.remove("lucide--save")
      btnEdit.querySelector("span").classList.add("lucide--edit-3")
    }
  })

if (btnRemove)
  btnRemove.addEventListener("click", async () => {
    const result =  confirm(`Delete ${id} purpose`)

    if(result) {
      const parent = document.querySelector(`#purpose-${id}`)
      if (parent) parent.remove()
    }
  })

</script>
